.main-footer-sub{
	margin-top: 50px;
	background-color: #393a3c;
	min-height: 50px;
	color: #ebebeb;
	padding-top: 12px;

}
.main-footer{
	padding-top: 30px;
}
.main-footer a{
	margin-right: 10px;
}
.main-footer-contact{
	padding-left: 18px;
}
#footer-home-font{
	text-align: justify;
	color: #959595;
}
#footer-logo{
	margin-bottom: 15px;
}
.main-footer-heading{
	margin-top: 15px;
	margin-bottom: 15px;
}
.main-footer-icon-social{
	margin-right: 12px;
	width: 60px;
}
.main-footer-contact p{
	margin-left: 10px;
}